/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Navbar Layout */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%; 
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}

.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #2e7d32;
}

/* Primary Button with Hover */
.btn-primary {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #1b5e20;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Banner SECTION  */

.banner {
    width: 100%;
    height: 90vh;
    background: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.banner-content {
    max-width: 800px;
    color: white;
}

.early-access {
    background: white;
    color: #2e7d32;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    display: inline-flex; 
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
}

.sun-icon {
    width: 16px;
}

.banner h1 {
    font-size: 55px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.green-text {
    color: #28a745;
}

.banner-desc {
    font-size: 18px;
    line-height: 1.6;
    max-width: 650px;
    margin: 0 auto 35px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Main Green Button */
.btn-start {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.btn-start:hover {
    background-color: #1b5e20;
}

/* Video Button */
.btn-video {
    background: rgba(255, 255, 255, 0.15);
    color: white;
    border: 2px solid white;
    padding: 14px 28px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    backdrop-filter: blur(6px);
    transition: 0.3s;
}

.btn-video:hover {
    background: rgba(255, 255, 255, 0.25);
}

.play-icon {
    width: 16px;
}

